
.newsletter-signup {
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
    &__form {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9em;
        input {
            &:placeholder {
                color: $roli-grey-dark;
            }
        }
    }

    &__email {
        flex-grow: 1;
        flex-basis: 12em;
        font-style: italic;
        margin-right: $margin-slim;
        background-color: $roli-grey;
        border-color: $roli-grey;
        
        //@extend %btn;
        //@include btn-style($white);

        &:hover, &:focus, &:active {
            color: $roli-grey-dark;
            background-color: $roli-grey-light;
        }
    }
    &__submit {
        flex-basis: 8em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}

.roli-footer {
    background-color: $footer-bg;
    font-size: 1.1em;
    padding: 4em 0;
    overflow: hidden;
    &, a, p {
        // scss-lint:disable NameFormat
        @include thinText();
    }

    &__wrapper {
        overflow: visible;
    }

    &__colophon {
        display: table;
        height: 150px;
        max-width: 77%;

        a {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .svg-icon-footer-logo {
        fill: $roli-white;
        width: 100%;
        height: auto;
        max-height: 90px;
        margin: -5px;
    }


    &__links {
        position: absolute;
        top: 0;

        list-style: none;
        padding: 0;

        li {
            margin: 0;
        }
        a {
            display: inline-block;
            padding: 0.2em 0.3em;
            color: $roli-grey;
            &:hover {
                text-decoration: none;
            }
            &[href] {
                // scss-lint:disable NameFormat
                @include thinText();
                @include emhover($roli-blue-grey, $footer-bg);
                color: $roli-white;
            }
        }
    }

    &__links-title {
        // scss-lint:disable NameFormat
        @include thinText();
        color: $roli-white;
        font-weight: bold;
    }

    &__social {
        float: right;
        li {
            padding: 4px;
        }
        svg {
            fill: $roli-white;
            width: 1.2em;
            height: 1.2em;
        }
    }

    @media (max-width: $screen-sm-max) {
        text-align: center;
        &__colophon {
            margin: auto;
            margin-bottom: 30px;
        }
        &__links {
            position: relative;
        }
        &__social {
            float: none;
            margin-top: 30px;
            li {
                display: inline-block;
            }
        }
    }

}

.bottom-bit__wrapper {
    padding: $wrapper-padding;
    font-size: $font-size-small;
    @media (max-width: $screen-sm-max) {
        span {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
}







