

.jumbotron {
    position: relative;
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    @include viewheight(100);
}

.jumbotron-caption {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 1em;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: none;
    &.light-caption {
        color: $white;
        @include thinText();
    }
    &.dark-caption {
        color: $black;
    }
    &.top {
        top: 16%;
        transform: none;
        @media (max-width: $screen-xs-max) {
            top: 10%;
        }
    }
    .tagline {
        margin-top: 0;
    }
    @media (min-width: $screen-sm-min) {
        .carousel & {
            padding: 0 6em;
        }
    }
}
.jumbotron-meta {
    margin-top: 2em;
    .btn {
        margin-left: $margin-slim/2;
        margin-right: $margin-slim/2;
    }
}
.jumbotron .jumbotron-controls {
    position: absolute;
    bottom: 6.5%;
    left: 0;
    width: 100%;
    text-align: center;
}
.carousel,
.carousel .carousel-inner,
.carousel-inner > .item {
    height: 100%;
    width: 100%;
}
.carousel-inner > .item {
    @include viewheight(100);
}
